@{
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
    ViewBag.Title = "Inicio";
}

<!-- Hero Section -->
<div class="d-lg-flex" style="background: url(../../assets/img/bg-shapes/bg4.png) no-repeat right;">
    <div class="container d-lg-flex align-items-lg-center min-height-lg-100vh space-bottom-2 space-top-4 space-bottom-lg-3 space-lg-0">
        <div class="w-lg-60 w-xl-50 mt-lg-9">
            <div class="mb-6">
                <h1 class="h2 text-white font-weight-normal">¡Más de 20,000 viajeros confían en Flay alrededor del mundo!</h1>
                <p class="text-white-70">Relájese planeando su próximo viaje, y realice búsquedas y reserva de vuelos para más de 500 destinos desde un sólo lugar. Flay le ayuda a ahorrar hasta un 40% en su próximo viaje.</p>
                <p class="text-white-70">¿Listo para su próxima aventura?</p>
            </div>

            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text fas fa-plane-departure" id="basic-addon1"></span>
                </div>
                <input type="text" class="form-control form-control-lg" placeholder="Origen..." aria-label="Username" aria-describedby="basic-addon1">
                <input type="text" class="form-control form-control-lg" placeholder="Destino..." aria-label="Username" aria-describedby="basic-addon1">
            </div>
        </div>
    </div>
</div>
<!-- End Hero Section -->
