<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="CONN_STRING" connectionString="Data Source=examendavid.database.windows.net;Initial Catalog=Examen1;User ID=DavidSerrano;Password=Davidsg98*;Connect Timeout=60;Encrypt=True;TrustServerCertificate=False;ApplicationIntent=ReadWrite;MultiSubnetFailover=False"/>
    <!--
    <add name="CONN_STRING" connectionString="Data Source=LAPMA\OPTOCONTROL;Initial Catalog=FLAY_DB;Integrated Security=True" />
    -->
  </connectionStrings>
</configuration>