@using WebApp.Helpers;
<script src="~/Scripts/Views/Aeropuerto/Eliminar.js"></script>
@{
    ViewBag.Title = "Eliminar aeropuerto";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container space-1 space-bottom-md-3">
    <h1>Eliminar aeropuerto</h1>
</div>