@using WebApp.Helpers;
<script src="~/Scripts/Views/Usuario/Eliminar.js"></script>
@{
    ViewBag.Title = "Eliminar usuario";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@RenderPage("~/Views/Shared/_AdminInnerMenu.cshtml", new { Title = "Eliminar usuario" })

<div class="container space-1 space-bottom-md-3">
    <h1>Aqui va el contenido</h1>
</div>